/* Add these styles to your CSS file */

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    width: 30%; /* Adjust this width as needed */
    margin-bottom: 4rem; /* Adjust spacing between rows as needed */
  }
  
  .card {
    /* Add styles for your card component here */
  }
  